.sun {
    width: 1rem;
    height: 1rem;
    transform: scale(1) rotate(0deg);
    transition: all var(--transition-short);

    body[data-theme='dark'] & {
        transform: scale(0) rotate(-90deg);
    }
}

.moon {
    position: absolute;
    width: 1rem;
    height: 1rem;
    transform: scale(0) rotate(90deg);
    transition: all var(--transition-short);

    body[data-theme='dark'] & {
        transform: scale(1) rotate(0deg);
    }
}

.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
