@import "@fontsource/architects-daughter/400.css";
@import '@fontsource-variable/inter/wght.css';

a {
    color: inherit;
    text-decoration: inherit;
}

menu,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote,
pre {
    margin: 0;
}

code {
    font-family: unset;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    --spacing-block: 12rem;
    --spacing-group: 4rem;
    --spacing-component: 2rem;
    --spacing-paragraph: 1rem;

    --breakpoint-xs: 450px;
    --breakpoint-sm: 720px;
    --breakpoint-md: 1080px;
    --breakpoint-lg: 1440px;

    --font-playful: "Architects Daughter";
    --font-default: 'Inter Variable', sans-serif;

    --typography-body1-fontFamily: var(--font-playful);
    --typography-body1-fontWeight: 400;
    --typography-body1-fontSize: 1rem;
    --typography-body1-lineHeight: 1.5;

    --typography-body2-fontFamily: var(--font-playful);
    --typography-body2-fontWeight: 300;
    --typography-body2-fontSize: 0.875rem;
    --typography-body2-lineHeight: 1.5;

    --typography-h1-fontFamily: var(--font-playful);
    --typography-h1-fontWeight: 600;
    --typography-h1-fontSize: 3rem;
    --typography-h1-lineHeight: 1.25;

    --typography-h2-fontFamily: var(--font-playful);
    --typography-h2-fontWeight: 600;
    --typography-h2-fontSize: 2.25rem;
    --typography-h2-lineHeight: 1.25;

    --typography-h3-fontFamily: var(--font-playful);
    --typography-h3-fontWeight: 500;
    --typography-h3-fontSize: 1.875rem;
    --typography-h3-lineHeight: 1.25;

    --typography-h4-fontFamily: var(--font-playful);
    --typography-h4-fontWeight: 500;
    --typography-h4-fontSize: 1.5rem;
    --typography-h4-lineHeight: 1.25;

    --typography-h5-fontFamily: var(--font-playful);
    --typography-h5-fontWeight: 500;
    --typography-h5-fontSize: 1.25rem;
    --typography-h5-lineHeight: 1.4;

    --typography-h6-fontFamily: var(--font-playful);
    --typography-h6-fontWeight: 400;
    --typography-h6-fontSize: 1.25rem;
    --typography-h6-lineHeight: 1.6;

    --typography-caption-fontFamily: var(--font-playful);
    --typography-caption-fontWeight: 500;
    --typography-caption-fontSize: 0.75rem;
    --typography-caption-lineHeight: 1.5;

    --transition-instant: 0.15s;
    --transition-short: .6s;
    --transition-long: 1.2s;

    --size-border-radius: .5rem;
    --size-header-height: 3.5rem;
    --size-footer-height: 2rem;
    --size-sidebar-width: 24rem;
    
    --shadow-ring: 0 0 2px rgb(var(--color-primary-foreground) / 0.1);
    --shadow-sm: 2px 2px 2px rgb(var(--color-primary-foreground) / 0.1);
    --shadow-md: 4px 4px 6px rgb(var(--color-primary-foreground) / 0.2);

    --color-paper-background: 242 240 235;
    --color-paper-foreground: 45 45 45;
}

body {

    --color-primary-background: 248 248 248;
    --color-secondary-background: 242 240 235;
    --color-primary-foreground: 23 23 23;
    --color-secondary-foreground: 45 45 45;
    --color-accent-background: 248 248 248;
    --color-accent-foreground: 194 129 52;

    --color-destructive: 231 0 11;

    --border: 1px solid rgb(var(--color-primary-foreground) / 0.25);
}

body[data-theme='dark'] {
    --color-primary-background: 23 23 23;
    --color-secondary-background: 38 38 38;
    --color-primary-foreground: 255 255 255;
    --color-secondary-foreground: 185 185 185;
    --color-accent-background: 23 23 23;
    --color-accent-foreground: 238 163 73;

    --color-destructive: 255 100 103;

    --border: 1px solid rgb(var(--color-primary-foreground) / 0.25);
}

@custom-media --smaller-than-xs (max-width: 450px);
@custom-media --larger-than-xs (min-width: 450px);
@custom-media --smaller-than-sm (max-width: 720px);
@custom-media --larger-than-sm (min-width: 720px);
@custom-media --smaller-than-md (max-width: 1080px);
@custom-media --larger-than-md (min-width: 1080px);
@custom-media --smaller-than-lg (max-width: 1440px);
@custom-media --larger-than-lg (min-width: 1440px);

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    background-color: rgb(var(--color-primary-background));
    color: rgb(var(--color-primary-foreground));
    z-index: 0;
    font-family: var(--font-playful);
}

/* Map related */

.maplibregl-popup-content {
    padding: 0 !important;
    box-shadow: var(--color-primary-background) !important;
    background-color: transparent !important;
    border-radius: 0 !important
}

.maplibregl-popup-tip {
    display: none !important
}