.metaWrapper {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-component);
}

.name {
}

.metaWrapper .architect {
  display: block;
  margin-top: .5rem;
  font-size: 1.25rem;
}

.metaWrapper .address {
  text-align: right;
  font-size: 1rem;
  opacity: 0.75
}
