.footer {
    z-index: 50;
    display: flex;
    height: var(--size-footer-height);
    align-items: center;
    justify-content: flex-end;
    padding-left: var(--spacing-component);
    padding-right: var(--spacing-component);
    pointer-events: none;
    user-select: none;
}

@media (--larger-than-sm) {
  .footer {
    margin-left: var(--size-rail-width);
  }
}

.copyright {
    opacity: 0.5;
}
