.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;

  z-index: 50;
  display: flex;
  height: var(--size-header-height);
  align-items: center;
  padding-right: var(--spacing-component);
  background: linear-gradient(to bottom, rgb(var(--color-primary-background)), rgb(var(--color-primary-background) / .8) 50%, transparent);
}

@media (--larger-than-sm) {
  .header {
    left: var(--size-rail-width);
  }
}

.title {
    height: 1.125rem;
    font-size: 1.125rem;
    font-weight: 800;
    user-select: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: stretch;
}

.icon {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: .5rem;

    filter: contrast(1) brightness(0.1);
    body[data-theme='dark'] & {
        filter: none;   
    }
}

.sidebarButton {
    flex: 1;
    display: flex;
    align-items: center;
    gap: var(--spacing-paragraph);
    justify-content: flex-start;
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    gap: var(--spacing-paragraph);
    justify-content: flex-end;
}

@media (--smaller-than-sm) {
  .header {
    padding-left: calc(var(--safe-area-left) + var(--spacing-paragraph));
    padding-right: calc(var(--safe-area-right) + var(--spacing-paragraph));
    padding-top: var(--safe-area-top);
  }
}
