.coverWrapper {
  position: relative;
  padding: 0 !important;
  line-height: 0;
  background: rgb(var(--color-secondary-background));
  overflow: hidden;
  border-radius: var(--size-border-radius);
}

.cover {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.closeButton {
  position: absolute;
  top: var(--spacing-paragraph);
  right: var(--spacing-paragraph);
  z-index: 10;
}

.heading {
  display: block;
  width: 100%;
}

.detail {
  display: block;
  width: 100%;
}

.muted {
  opacity: 0.5;
}

.archCard {
  cursor: pointer;
  align-items: flex-end;
}

.viewLink {
  margin-top: var(--spacing-paragraph);
  width: fit-content;
  right: 0;

  .archCard:hover & {
    opacity: 0.5;
    text-decoration: underline;
  }
}