.archCard {
  box-shadow: var(--shadow-sm);
  cursor: pointer;
  transition: background-color var(--transition-instant) ease,
    box-shadow var(--transition-instant) ease;
  display: flex;
  flex-direction: row;
  width: 100%;

  --size-card-height: 6rem;
  height: var(--size-card-height);
}

.archCard:hover, .archCard[data-selected="true"] {
  background-color: rgb(var(--color-primary-foreground) / 0.1);
  box-shadow: var(--shadow-sm), var(--shadow-ring);
}

.skeletonCard {
  cursor: default;
  opacity: 0.4;
}

.thumbnail {
  width: 6rem;
  height: 6rem;
  border-radius: calc(var(--size-border-radius));
  flex-shrink: 0;
  height: var(--size-card-height);
}

.image {
  object-fit: cover;
  background-color: rgb(var(--color-primary-foreground) / 0.1);
}

.placeholder {
  background-color: rgb(var(--color-primary-foreground) / 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagePulse {
  background-color: rgb(var(--color-primary-foreground) / 0.15);
}

.textBlock {
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: var(--spacing-paragraph) var(--spacing-paragraph) var(--spacing-paragraph) 0;
  flex: 1 1;
}

.name {
  display: block;
  overflow-wrap: break-word;
  padding-bottom: .5rem;
}

.architect {
  display: block;
  opacity: 0.5;
  overflow: hidden;
  white-space: nowrap;
}

.line {
  border-radius: 2px;
  background-color: rgb(var(--color-primary-foreground) / 0.15);
}

.line1 {
  height: 0.875rem;
  width: 70%;
}

.line2 {
  height: 0.75rem;
  width: 50%;
}
