.sidebarWrapper {
  max-width: 360px;
  overflow: hidden;
  flex-shrink: 0;
}

.sidebarContent {
  width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-paragraph);
  padding-right: var(--spacing-paragraph);
  overflow-y: auto;
  box-sizing: border-box;
}
