.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-paragraph);
  width: 100%;
  padding: var(--spacing-paragraph);
  background-color: rgb(var(--color-secondary-background));
  border-radius: var(--size-border-radius);
  box-shadow: var(--shadow-sm);
  overflow: hidden;
  box-sizing: border-box;
}