.sidebarWrapper {
  overflow: hidden;
  flex-shrink: 0;
  z-index: 20;
}

.sidebarContentWrapper {
  width: var(--size-sidebar-width);
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-right: var(--spacing-component);
  box-sizing: border-box;
}

.sidebarContent {
  min-height: 0;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: var(--spacing-paragraph);
}

.footer {
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 0.25rem;
  padding-top: var(--spacing-paragraph);
  border-top: 1px solid rgb(var(--color-primary-foreground) / 0.1);
}

.footerLink {
  width: 100%;
  justify-content: flex-start;
}
