.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-paragraph);
  width: 100%;
  padding: var(--spacing-paragraph);
  background-color: rgb(var(--color-secondary-background));
  border-radius: var(--size-border-radius);
  box-shadow: var(--shadow-sm);
  overflow: hidden;
  box-sizing: border-box;
}

.archCard {
  cursor: pointer;
  box-shadow: var(--shadow-md);
  align-items: flex-end;
}

.viewLink {
  margin-top: var(--spacing-paragraph);
  font-family: var(--font-playful) !important;
  width: fit-content;
  right: 0;

  .archCard:hover & {
    opacity: 0.5;
    text-decoration: underline;
  }
}

.heading {
  font-family: var(--font-playful) !important;
  display: block;
  width: 100%;
}

.muted {
  opacity: 0.5;
}
