.linkWrapper {
  padding: var(--spacing-component);
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.link {
  display: flex;
  align-items: center;
  gap: var(--spacing-paragraph);
  padding-bottom: 0.25rem;
  border-bottom: 1px solid rgb(var(--color-secondary-foreground) / 0.3);
  text-decoration: none;
    
  &:hover {
    opacity: 0.75;
  }
}

.label {
  font-family: var(--font-playful) !important;
}

.icon {
  flex-shrink: 0;
  opacity: 0.4;
}
