.note {
  padding: var(--spacing-component);
  background: rgb(var(--color-paper-background));
  font-family: var(--font-playful);
  font-size: 0.85rem;
  line-height: 1.5;
}

.modalNote {
  max-width: 50vw;
}