.surface {
  background: rgb(var(--color-paper-background));
  color: rgb(var(--color-paper-foreground));
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
}

.surface::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/patterns/light/grass.png");
  background-size: 128px 128px;
  opacity: 0.3;
  pointer-events: none;
}
