.appContainer {
    flex: 1;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
}

@media (--larger-than-sm) {
    .appContainer {
        margin-left: var(--size-rail-width);
        padding-right: var(--spacing-component);
    }
}
