.scrollArea {
  flex: 1;
  min-height: 0;

  & [data-slot='scroll-area-thumb'] {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-paragraph);
  width: 0;
  min-width: 100%;

  &::after {
    content: '';
    flex-shrink: 0;
  }
}

.sentinel {
  height: 1px;
}
