.appContainer {
    flex: 1;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    padding-left: var(--spacing-component);
    padding-right: var(--spacing-component);
}
