.mapContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: var(--size-border-radius);
    transition: border-radius var(--transition-short) ease-in-out;

    body[data-mode='portfolio'] & {
        border-radius: 0
    }
}

.wrapper {
    flex-shrink: 0;
    overflow: hidden;
    box-sizing: border-box;

    &:not(:first-child) {
        border-left: var(--border);
    }
}

.grid {
    display: grid;
    height: 100%;
    column-gap: 0.25rem;
}

.cell {
    min-width: 0;
    min-height: 0;
    overflow: hidden;
}

.infoSection {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.infoHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: .5rem;

    .year {
        opacity: .75;
    }
}

.address {
    text-align: right;
    opacity: .75;
    width: 100%
}

