.content,
.subContent {
  z-index: 200;
  min-width: 12rem;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: var(--size-border-radius);
  background-color: rgb(var(--color-primary-background));
  color: rgb(var(--color-primary-foreground));
  padding: 0.25rem;
  box-shadow: var(--shadow-sm), var(--shadow-ring);
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);
}

.content {
  width: var(--radix-dropdown-menu-trigger-width);
  max-height: var(--radix-dropdown-menu-content-available-height);
}

.subContent {
  min-width: 6rem;
  overflow: hidden;
}

:is(.content, .subContent)[data-side="bottom"]:not([data-state="closed"]) {
  animation: slideUp var(--transition-instant) ease-out;
}

:is(.content, .subContent)[data-side="top"]:not([data-state="closed"]) {
  animation: slideDown var(--transition-instant) ease-out;
}

:is(.content, .subContent)[data-side="left"]:not([data-state="closed"]) {
  animation: slideRight var(--transition-instant) ease-out;
}

:is(.content, .subContent)[data-side="right"]:not([data-state="closed"]) {
  animation: slideLeft var(--transition-instant) ease-out;
}

:is(.content, .subContent)[data-state="closed"] {
  overflow: hidden;
  animation: fadeOut var(--transition-instant) ease-in forwards;
}

:is(.content, .subContent)[data-state="closed"][data-side="bottom"] {
  animation: slideDownOut var(--transition-instant) ease-in forwards;
}

:is(.content, .subContent)[data-state="closed"][data-side="top"] {
  animation: slideUpOut var(--transition-instant) ease-in forwards;
}

:is(.content, .subContent)[data-state="closed"][data-side="left"] {
  animation: slideLeftOut var(--transition-instant) ease-in forwards;
}

:is(.content, .subContent)[data-state="closed"][data-side="right"] {
  animation: slideRightOut var(--transition-instant) ease-in forwards;
}

.item,
.checkboxItem,
.radioItem,
.subTrigger {
  position: relative;
  display: flex;
  cursor: default;
  align-items: center;
  gap: 0.375rem;
  border-radius: calc(var(--size-border-radius) * 0.75);
  padding: 0.375rem 0.5rem;
  outline: none;
  user-select: none;
}

:is(.item, .checkboxItem, .radioItem, .subTrigger):focus {
  background-color: rgb(var(--color-secondary-background));
  color: rgb(var(--color-primary-foreground));
}

:is(.item, .checkboxItem, .radioItem, .subTrigger)[data-inset] {
  padding-left: 1.75rem;
}

:is(.item, .checkboxItem, .radioItem, .subTrigger)[data-disabled] {
  pointer-events: none;
  opacity: 0.5;
}

:is(.item, .checkboxItem, .radioItem, .subTrigger) svg {
  pointer-events: none;
  flex-shrink: 0;
}

:is(.item, .checkboxItem, .radioItem, .subTrigger) svg:not([class*="size-"]) {
  width: 1rem;
  height: 1rem;
}

.item {
  border-radius: var(--size-border-radius);
  color: rgb(var(--color-primary-foreground));
}

.item[data-variant="destructive"] {
  color: rgb(var(--color-destructive));
}

.item[data-variant="destructive"]:focus {
  background-color: rgb(var(--color-destructive) / 0.1);
  color: rgb(var(--color-destructive));
}

body[data-theme="dark"] .item[data-variant="destructive"]:focus {
  background-color: rgb(var(--color-destructive) / 0.2);
}

.item[data-variant="destructive"] svg {
  color: rgb(var(--color-destructive));
}

.checkboxItem,
.radioItem {
  padding: 0.375rem 2rem 0.375rem 0.5rem;
}

.subTrigger[data-state="open"] {
  background-color: rgb(var(--color-secondary-background));
  color: rgb(var(--color-primary-foreground));
}

.checkIndicator {
  position: absolute;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.label {
  padding: 0.375rem 0.5rem;
  color: rgb(var(--color-secondary-foreground));

  &[data-inset] {
    padding-left: 1.75rem;
  }
}

.separator {
  margin: 0.25rem -0.25rem;
  height: 1px;
  background-color: rgb(var(--color-primary-foreground) / 0.15);
}

.shortcut {
  margin-left: auto;
  letter-spacing: 0.05em;
  color: rgb(var(--color-secondary-foreground));
}

.item:focus .shortcut {
  color: rgb(var(--color-primary-foreground));
}

.subTriggerChevron {
  margin-left: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideDownOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(2px);
  }
}

@keyframes slideUpOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-2px);
  }
}

@keyframes slideRightOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(2px);
  }
}

@keyframes slideLeftOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-2px);
  }
}
